.App {
  text-align: center;
  height: 100vh;

  /*  -webkit-box-shadow: -1px 3px 6px 0px var(--borderColor);
  -moz-box-shadow: -1px 3px 6px 0px var(--borderColor);
  box-shadow: -1px 3px 6px 0px var(--borderColor);*/
}

.nav-wrapper {
  background-color: var(--navColor);
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dots-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}
.dot1 {
  height: 1em;
  width: 1em;
  border-radius: 10px;
  background-color: #fe6058;
  margin: 3px;
}
.dot2 {
  height: 1em;
  width: 1em;
  border-radius: 10px;
  background-color: #fdbf2e;
  margin: 3px;
}
.dot3 {
  height: 1em;
  width: 1em;
  border-radius: 10px;
  background-color: #27cb41;
  margin: 3px;
}
.contact-wrapper {
  margin-right: 1%;
}
.box {
  overflow-y: scroll;
  background-color: var(--mainColor);
}

.boxD {
  overflow-y: scroll;

  background-color: var(--mainColorD);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
